# Dependencies
node_modules/
eshop-sut/backend/node_modules/
eshop-sut/frontend-admin/node_modules/
eshop-sut/frontend-mobile/node_modules/
eshop-sut/frontend-web/node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server.log

# SQLite temp files
*.sqlite-journal

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
